
p.lead Имя: #{@user.first_name} 
    
p.lead Фамилия: #{@user.last_name} 
  
p.lead Email: #{@user.email} 
  
p.lead Пароль: #{@user.password} 
  
p.lead Дата рождения #{@user.birth_date}
  
p.lead Телефон: #{@user.phone} 
  
-if @user.trainee
  p.lead Статус: сотрудник
- else
  p.lead Статус: стажер    

-if @user.admin
  p.lead Статус на сайте: администратор 
- else
  p.lead Статус на сайте: пользователь

= link_to 'Вернуться к списку сотрудников', users_path 
