
p class="lead" Имя: #{@user.name} 
    
p class="lead" Фамилия: #{@user.surname} 
  
p class="lead" Email: #{@user.email} 
  
p class="lead" Пароль: #{@user.password} 
  
p class="lead" Дата рождения #{@user.birth_date}
  
p class="lead" Телефон: #{@user.phone} 
  
-if @user.trainee
  p class="lead" Статус: сотрудник
- else
  p class="lead" Статус: стажер    

-if @user.admin
  p class="lead" Статус на сайте: администратор 
- else
  p class="lead" Статус на сайте: пользователь

= link_to 'Вернуться к списку сотрудников', users_path 
